

/* You can add global styles to this file, and also import other style files */
body{
    background-color: #272b30;
    color: #fff;
    
}
@font-face {
    font-family: 'Xanh Mono';
    src:url(./assets/fonts/Xanh_Mono/XanhMono-Italic.ttf) format("truetype");
}